<div class="screen">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="screen-inner-wrap">
                    <div class="screen-title"></div>
                    <div class="screen-detail">
                        <h2>Select a Job</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <ol>
                                    <li><a routerLink="/receive">Receive</a></li>
                                    <li><a routerLink="/stow">Stow</a></li>
                                    <li><a routerLink="/bulkstow">Bulk Stow</a></li>
                                    <li><a routerLink="/pick">Pick</a></li>
                                    <li><a routerLink="/storestow">Store Stow</a></li>
                                    <li><a routerLink="/checkinventory">Check Inventory</a></li>
                                    <li><a routerLink="/removeinventory">Remove Inventory</a></li>
                                </ol>
                                <button class="d-flex ml-auto btn btn-primary" routerLink="/login">Change Location</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>